/* || Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Sancreek;
    line-height: 1.6;
    background-color: #545353;
    padding: 20px;
}

/* || Container */
.container {
    max-width: 900px;
    margin: 0 auto;
}

/* || Card Styling */
.card {
    background: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* || Typography */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h3 {
    margin-bottom: 10px;
}

/* || Lists */
ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* || Hyperlinks */
a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    color: #005fa3;
}

/* || Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

th {
    background-color: #89CFF0;
    color: black;
}

/* || Form */
form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

input, textarea {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
}



/* || Footer */
footer {
    text-align: center;
    margin-top: 20px;
}

/* || DarkMode */
.dark-mode {
    background-color:#171717;
    color:white;
}

.dark-mode .card {
    background-color: #333	;
    color: white;
}

.dark-mode input,
.dark-mode textarea {
    background-color: #444;
    color: white;
    border-color: #666;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* || Hiddenskills */
.hidden {
     padding-top: 10px;
     padding-right: 20px;
     padding-bottom: 30px;
     padding-left: 40px;
    display: none;
}

#toggleSkills {
    display: block;
    margin-bottom: 20px;
}

#skillsSection {
    padding-top: 20px;
    margin-top: 10px;
}





/* || Floating Buttons */
button {
    padding: 10px;
    background-color: #6ab8fc;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

button:hover {
    background-color: #0096FF;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

button:active {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);





/* || Skills Table */
#skillsTable th,
#skillsTable td {
    border: none;
    padding: 10px;
}

#skillsTable th {
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    color: black;
}

#skillsTable tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}
}